<h2>管理者用メニュー</h2>
<p><%= link_to "商品一覧", items_path %></p>
<p><%= link_to "商品新規登録", new_item_path %></p>
<p><%= link_to "ジャンル一覧・登録", genres_path %></p>
<p><%= link_to "アーティスト一覧・登録", artists_path %></p>